# importing our dataset from csv file

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [2]:
import pandas as pd
data=pd.read_csv(r'Downloads/Market_Basket_Optimisation.csv')
data

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7496,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   shrimp             7500 non-null   object
 1   almonds            5746 non-null   object
 2   avocado            4388 non-null   object
 3   vegetables mix     3344 non-null   object
 4   green grapes       2528 non-null   object
 5   whole weat flour   1863 non-null   object
 6   yams               1368 non-null   object
 7   cottage cheese     980 non-null    object
 8   energy drink       653 non-null    object
 9   tomato juice       394 non-null    object
 10  low fat yogurt     255 non-null    object
 11  green tea          153 non-null    object
 12  honey              86 non-null     object
 13  salad              46 non-null     object
 14  mineral water      24 non-null     object
 15  salmon             7 non-null      object
 16  antioxydant juice  3 non-null      object
 17  frozen smoothie    3 non-null      object
 18  spinach            2 non-null      object
 19  olive oil          0 non-null      float64
dtypes: float64(1), object(19)
memory usage: 1.1+ MB

# Preprocessing phase

In [4]:
data.isnull().sum()

shrimp                  0
almonds              1754
avocado              3112
vegetables mix       4156
green grapes         4972
whole weat flour     5637
yams                 6132
cottage cheese       6520
energy drink         6847
tomato juice         7106
low fat yogurt       7245
green tea            7347
honey                7414
salad                7454
mineral water        7476
salmon               7493
antioxydant juice    7497
frozen smoothie      7497
spinach              7498
olive oil            7500
dtype: int64

In [5]:
#Completing almonds column
elements=len(data['almonds'])
print(elements)
print(data['almonds'].value_counts())
data['almonds'].fillna('mineral water ', inplace=True)
data['almonds']

7500
mineral water    484
spaghetti        411
eggs             302
ground beef      291
french fries     243
                ...
shampoo            2
water spray        1
chili              1
cream              1
cauliflower        1
Name: almonds, Length: 117, dtype: int64

0               meatballs
1          mineral water
2                 avocado
3                    milk
4          mineral water
              ...
7495           light mayo
7496    frozen vegetables
7497       mineral water
7498            green tea
7499      frozen smoothie
Name: almonds, Length: 7500, dtype: object

In [6]:
#Completing avocado column
elements=len(data['avocado'])
print(elements)
print(data['avocado'].value_counts())
data['avocado'].fillna('mineral water ', inplace=True)
data['avocado']

7500
mineral water       375
spaghetti           279
eggs                225
milk                213
french fries        180
                   ...
pickles               1
cream                 1
water spray           1
hand protein bar      1
cauliflower           1
Name: avocado, Length: 115, dtype: int64

0                 eggs
1       mineral water
2       mineral water
3           energy bar
4       mineral water
             ...
7495       fresh bread
7496              eggs
7497    mineral water
7498    mineral water
7499       yogurt cake
Name: avocado, Length: 7500, dtype: object

In [7]:
#Completing vegetables mix column
elements=len(data['vegetables mix'])
print(elements)
print(data['vegetables mix'].value_counts())
data['vegetables mix'].fillna('mineral water', inplace= True )
data['vegetables mix']

7500
mineral water    201
eggs             181
french fries     174
spaghetti        167
milk             149
                ...
ham                1
napkins            1
water spray        1
cream              1
salad              1
Name: vegetables mix, Length: 114, dtype: int64

0          mineral water
1          mineral water
2          mineral water
3       whole wheat rice
4          mineral water
              ...
7495       mineral water
7496        french fries
7497       mineral water
7498       mineral water
7499      low fat yogurt
Name: vegetables mix, Length: 7500, dtype: object

In [8]:
#Completing green grapes column
elements=len(data['green grapes'])
print(elements)
print(data['green grapes'].value_counts())
data['green grapes'].fillna('green tea', inplace=True)
data['green grapes']

7500
green tea            153
eggs                 134
french fries         130
chocolate            115
milk                 114
                    ...
bramble                2
frozen vegetables      2
babies food            2
tomatoes               1
cream                  1
Name: green grapes, Length: 110, dtype: int64

0       green tea
1       green tea
2       green tea
3       green tea
4       green tea
          ...
7495    green tea
7496    magazines
7497    green tea
7498    green tea
7499    green tea
Name: green grapes, Length: 7500, dtype: object

In [9]:
#Completing whole weat flour column
elements=len(data['whole weat flour'])
print(elements)
print(data['whole weat flour'].value_counts())
data['whole weat flour'].fillna('french fries', inplace=True)
data['whole weat flour']

7500
french fries     107
eggs             102
green tea        100
chocolate         71
pancakes          69
                ...
mashed potato      1
bramble            1
spinach            1
yams               1
candy bars         1
Name: whole weat flour, Length: 106, dtype: int64

0       french fries
1       french fries
2       french fries
3       french fries
4       french fries
            ...
7495    french fries
7496       green tea
7497    french fries
7498    french fries
7499    french fries
Name: whole weat flour, Length: 7500, dtype: object

In [10]:
#Completing yams column
elements=len(data['yams'])
print(elements)
print(data['yams'].value_counts())
data['yams'].fillna('green tea', inplace=True)
data['yams']

7500
green tea          96
french fries       81
pancakes           69
eggs               59
low fat yogurt     55
                   ..
yams                1
parmesan cheese     1
chocolate bread     1
mint green tea      1
pepper              1
Name: yams, Length: 102, dtype: int64

0       green tea
1       green tea
2       green tea
3       green tea
4       green tea
          ...
7495    green tea
7496    green tea
7497    green tea
7498    green tea
7499    green tea
Name: yams, Length: 7500, dtype: object

In [11]:
#Completing cottage cheese column
elements=len(data['cottage cheese'])
print(elements)
print(data['cottage cheese'].value_counts())
data['cottage cheese'].fillna('green tea', inplace=True)
data['cottage cheese']

7500
green tea         67
pancakes          44
low fat yogurt    43
french fries      40
chocolate         38
                  ..
soda               1
flax seed          1
babies food        1
 asparagus         1
soup               1
Name: cottage cheese, Length: 98, dtype: int64

0       green tea
1       green tea
2       green tea
3       green tea
4       green tea
          ...
7495    green tea
7496    green tea
7497    green tea
7498    green tea
7499    green tea
Name: cottage cheese, Length: 7500, dtype: object

In [12]:
#Completing energy drink column
elements=len(data['energy drink'])
print(elements)
print(data['energy drink'].value_counts())
data['energy drink'].fillna('green tea', inplace=True)
data['energy drink']

7500
green tea          57
low fat yogurt     38
frozen smoothie    35
french fries       34
fresh bread        28
                   ..
cider               1
avocado             1
soup                1
energy bar          1
candy bars          1
Name: energy drink, Length: 88, dtype: int64

0       green tea
1       green tea
2       green tea
3       green tea
4       green tea
          ...
7495    green tea
7496    green tea
7497    green tea
7498    green tea
7499    green tea
Name: energy drink, Length: 7500, dtype: object

In [13]:
#Completing tomato juice column
elements=len(data['tomato juice'])
print(elements)
print(data['tomato juice'].value_counts())
data['tomato juice'].fillna('green tea', inplace=True)
data['tomato juice']

7500
green tea         31
french fries      19
low fat yogurt    17
tomato juice      16
pancakes          14
                  ..
babies food        1
tea                1
mashed potato      1
candy bars         1
napkins            1
Name: tomato juice, Length: 80, dtype: int64

0       green tea
1       green tea
2       green tea
3       green tea
4       green tea
          ...
7495    green tea
7496    green tea
7497    green tea
7498    green tea
7499    green tea
Name: tomato juice, Length: 7500, dtype: object

In [14]:
#Completing low fat yogurt column
elements=len(data['low fat yogurt'])
print(elements)
print(data['low fat yogurt'].value_counts())
data['low fat yogurt'].fillna('low fat yogurt', inplace=True)
data['low fat yogurt']

7500
low fat yogurt          21
green tea               20
fresh bread             14
french fries            12
light mayo               9
                        ..
mushroom cream sauce     1
salad                    1
mayonnaise               1
sandwich                 1
asparagus                1
Name: low fat yogurt, Length: 66, dtype: int64

0       low fat yogurt
1       low fat yogurt
2       low fat yogurt
3       low fat yogurt
4       low fat yogurt
             ...
7495    low fat yogurt
7496    low fat yogurt
7497    low fat yogurt
7498    low fat yogurt
7499    low fat yogurt
Name: low fat yogurt, Length: 7500, dtype: object

In [15]:
#Completing green tea column
elements=len(data['green tea'])
print(elements)
print(data['green tea'].value_counts())
data['green tea'].fillna('green tea', inplace=True)
data['green tea']

7500
green tea               14
french fries            10
frozen smoothie         10
low fat yogurt           9
fresh bread              7
tomato juice             7
pancakes                 7
mint                     4
honey                    4
hot dogs                 3
mushroom cream sauce     3
chocolate                3
energy drink             3
cottage cheese           3
light mayo               3
melons                   3
cereals                  3
cookies                  3
protein bar              3
cake                     3
mayonnaise               3
escalope                 3
white wine               3
magazines                3
whole weat flour         2
shampoo                  2
candy bars               2
champagne                2
brownies                 2
salt                     2
whole wheat rice         2
eggs                     2
extra dark chocolate     2
ketchup                  2
strawberries             1
zucchini                 1
toothpaste               1
body spray               1
cooking oil              1
strong cheese            1
rice                     1
blueberries              1
green grapes             1
chicken                  1
mashed potato            1
corn                     1
vegetables mix           1
eggplant                 1
ham                      1
gluten free bar          1
Name: green tea, dtype: int64

0       green tea
1       green tea
2       green tea
3       green tea
4       green tea
          ...
7495    green tea
7496    green tea
7497    green tea
7498    green tea
7499    green tea
Name: green tea, Length: 7500, dtype: object

In [16]:
#Completing honey column
elements=len(data['honey'])
print(elements)
print(data['honey'].value_counts())
data['honey'].fillna('green tea', inplace=True)
data['honey']

7500
green tea           8
fresh bread         6
low fat yogurt      6
escalope            4
tomato juice        4
french fries        4
brownies            3
hot dogs            3
melons              3
salt                3
frozen smoothie     2
yogurt cake         2
sparkling water     2
nonfat milk         2
light mayo          2
pancakes            2
energy drink        2
gums                2
protein bar         2
mint                2
cottage cheese      1
mashed potato       1
cereals             1
cauliflower         1
barbecue sauce      1
magazines           1
asparagus           1
bug spray           1
toothpaste          1
whole wheat rice    1
tea                 1
ham                 1
eggplant            1
salad               1
champagne           1
cookies             1
white wine          1
burger sauce        1
cooking oil         1
oil                 1
corn                1
zucchini            1
Name: honey, dtype: int64

0       green tea
1       green tea
2       green tea
3       green tea
4       green tea
          ...
7495    green tea
7496    green tea
7497    green tea
7498    green tea
7499    green tea
Name: honey, Length: 7500, dtype: object

In [17]:
#Completing salad column
elements=len(data['salad'])
print(elements)
print(data['salad'].value_counts())
data['salad'].fillna('green tea', inplace=True)
data['salad']

7500
green tea               4
french fries            3
frozen smoothie         3
mint                    2
fresh bread             2
toothpaste              2
pancakes                2
cottage cheese          2
eggplant                2
hot dogs                2
oil                     2
low fat yogurt          2
gluten free bar         2
escalope                2
strawberries            1
cookies                 1
salad                   1
yogurt cake             1
eggs                    1
light mayo              1
mushroom cream sauce    1
protein bar             1
hand protein bar        1
salt                    1
babies food             1
muffins                 1
mineral water           1
tomato juice            1
Name: salad, dtype: int64

0       green tea
1       green tea
2       green tea
3       green tea
4       green tea
          ...
7495    green tea
7496    green tea
7497    green tea
7498    green tea
7499    green tea
Name: salad, Length: 7500, dtype: object

In [18]:
#Completing mineral water column
elements=len(data['mineral water'])
print(elements)
print(data['mineral water'].value_counts())
data['mineral water'].fillna('magazines', inplace=True)
data['mineral water']

7500
magazines               3
fresh bread             2
pancakes                2
green tea               2
low fat yogurt          2
cereals                 1
mint                    1
yogurt cake             1
hand protein bar        1
toothpaste              1
hot dogs                1
salmon                  1
tomato juice            1
zucchini                1
cookies                 1
clothes accessories     1
candy bars              1
mushroom cream sauce    1
Name: mineral water, dtype: int64

0       magazines
1       magazines
2       magazines
3       magazines
4       magazines
          ...
7495    magazines
7496    magazines
7497    magazines
7498    magazines
7499    magazines
Name: mineral water, Length: 7500, dtype: object

In [19]:
#Completing salmon column
elements=len(data['salmon'])
print(elements)
print(data['salmon'].value_counts())
data['salmon'].fillna('chocolate', inplace=True)
data['salmon']

7500
chocolate            1
antioxydant juice    1
frozen smoothie      1
cake                 1
sparkling water      1
protein bar          1
magazines            1
Name: salmon, dtype: int64

0       chocolate
1       chocolate
2       chocolate
3       chocolate
4       chocolate
          ...
7495    chocolate
7496    chocolate
7497    chocolate
7498    chocolate
7499    chocolate
Name: salmon, Length: 7500, dtype: object

In [20]:
#Completing antioxydant juice column
elements=len(data['antioxydant juice'])
print(elements)
print(data['antioxydant juice'].value_counts())
data['antioxydant juice'].fillna('frozen smoothie', inplace=True)
data['antioxydant juice']

7500
frozen smoothie    2
french fries       1
Name: antioxydant juice, dtype: int64

0       frozen smoothie
1       frozen smoothie
2       frozen smoothie
3       frozen smoothie
4       frozen smoothie
             ...
7495    frozen smoothie
7496    frozen smoothie
7497    frozen smoothie
7498    frozen smoothie
7499    frozen smoothie
Name: antioxydant juice, Length: 7500, dtype: object

In [21]:
#Completing frozen smoothie column
elements=len(data['frozen smoothie'])
print(elements)
print(data['frozen smoothie'].value_counts())
data['frozen smoothie'].fillna('protein bar', inplace=True)
data['frozen smoothie']

7500
protein bar    2
spinach        1
Name: frozen smoothie, dtype: int64

0       protein bar
1       protein bar
2       protein bar
3       protein bar
4       protein bar
           ...
7495    protein bar
7496    protein bar
7497    protein bar
7498    protein bar
7499    protein bar
Name: frozen smoothie, Length: 7500, dtype: object

In [22]:
#Completing spinach column
elements=len(data['spinach'])
print(elements)
print(data['spinach'].value_counts())
data['spinach'].fillna('mayonnaise', inplace=True)
data['spinach']

7500
mayonnaise    1
cereals       1
Name: spinach, dtype: int64

0       mayonnaise
1       mayonnaise
2       mayonnaise
3       mayonnaise
4       mayonnaise
           ...
7495    mayonnaise
7496    mayonnaise
7497    mayonnaise
7498    mayonnaise
7499    mayonnaise
Name: spinach, Length: 7500, dtype: object

In [23]:
#Completing olive oil column
elements=len(data['olive oil'])
print(elements)
print(data['olive oil'].value_counts())
data['olive oil'].fillna('olive oil', inplace=True)
data['olive oil']

7500
Series([], Name: olive oil, dtype: int64)

0       olive oil
1       olive oil
2       olive oil
3       olive oil
4       olive oil
          ...
7495    olive oil
7496    olive oil
7497    olive oil
7498    olive oil
7499    olive oil
Name: olive oil, Length: 7500, dtype: object

In [24]:
data.isnull().sum()

shrimp               0
almonds              0
avocado              0
vegetables mix       0
green grapes         0
whole weat flour     0
yams                 0
cottage cheese       0
energy drink         0
tomato juice         0
low fat yogurt       0
green tea            0
honey                0
salad                0
mineral water        0
salmon               0
antioxydant juice    0
frozen smoothie      0
spinach              0
olive oil            0
dtype: int64

In [25]:
data

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,mineral water,green tea,french fries,green tea,green tea,green tea,green tea,low fat yogurt,green tea,green tea,green tea,magazines,chocolate,frozen smoothie,protein bar,mayonnaise,olive oil
1,chutney,mineral water,mineral water,mineral water,green tea,french fries,green tea,green tea,green tea,green tea,low fat yogurt,green tea,green tea,green tea,magazines,chocolate,frozen smoothie,protein bar,mayonnaise,olive oil
2,turkey,avocado,mineral water,mineral water,green tea,french fries,green tea,green tea,green tea,green tea,low fat yogurt,green tea,green tea,green tea,magazines,chocolate,frozen smoothie,protein bar,mayonnaise,olive oil
3,mineral water,milk,energy bar,whole wheat rice,green tea,french fries,green tea,green tea,green tea,green tea,low fat yogurt,green tea,green tea,green tea,magazines,chocolate,frozen smoothie,protein bar,mayonnaise,olive oil
4,low fat yogurt,mineral water,mineral water,mineral water,green tea,french fries,green tea,green tea,green tea,green tea,low fat yogurt,green tea,green tea,green tea,magazines,chocolate,frozen smoothie,protein bar,mayonnaise,olive oil
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,butter,light mayo,fresh bread,mineral water,green tea,french fries,green tea,green tea,green tea,green tea,low fat yogurt,green tea,green tea,green tea,magazines,chocolate,frozen smoothie,protein bar,mayonnaise,olive oil
7496,burgers,frozen vegetables,eggs,french fries,magazines,green tea,green tea,green tea,green tea,green tea,low fat yogurt,green tea,green tea,green tea,magazines,chocolate,frozen smoothie,protein bar,mayonnaise,olive oil
7497,chicken,mineral water,mineral water,mineral water,green tea,french fries,green tea,green tea,green tea,green tea,low fat yogurt,green tea,green tea,green tea,magazines,chocolate,frozen smoothie,protein bar,mayonnaise,olive oil
7498,escalope,green tea,mineral water,mineral water,green tea,french fries,green tea,green tea,green tea,green tea,low fat yogurt,green tea,green tea,green tea,magazines,chocolate,frozen smoothie,protein bar,mayonnaise,olive oil
7499,eggs,frozen smoothie,yogurt cake,low fat yogurt,green tea,french fries,green tea,green tea,green tea,green tea,low fat yogurt,green tea,green tea,green tea,magazines,chocolate,frozen smoothie,protein bar,mayonnaise,olive oil

In [26]:
conda install -c conda-forge mlxtend

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

Retrieving notices: ...working... done

Note: you may need to restart the kernel to use updated packages.

In [27]:
!pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\lenovo\anaconda3\lib\site-packages (0.20.0)
Requirement already satisfied: setuptools in c:\users\lenovo\anaconda3\lib\site-packages (from mlxtend) (61.2.0)
Requirement already satisfied: pandas>=0.24.2 in c:\users\lenovo\anaconda3\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: numpy>=1.16.2 in c:\users\lenovo\anaconda3\lib\site-packages (from mlxtend) (1.21.5)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\lenovo\anaconda3\lib\site-packages (from mlxtend) (1.0.2)
Requirement already satisfied: joblib>=0.13.2 in c:\users\lenovo\anaconda3\lib\site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: scipy>=1.2.1 in c:\users\lenovo\anaconda3\lib\site-packages (from mlxtend) (1.7.3)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\lenovo\anaconda3\lib\site-packages (from mlxtend) (3.5.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.4)
Requirement already satisfied: cycler>=0.10 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.2)
Requirement already satisfied: packaging>=20.0 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (21.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (9.0.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\lenovo\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)

# Apriori Preparation

In [35]:
# Getting the list of transactions from the dataset
transactions = []
for i in range(0, len(data)):
    transactions.append([str(data.values[i,j]) for j in range(0, len(data.columns))])

In [43]:
transactions[0]

['burgers',
 'meatballs',
 'eggs',
 'mineral water',
 'green tea',
 'french fries',
 'green tea',
 'green tea',
 'green tea',
 'green tea',
 'low fat yogurt',
 'green tea',
 'green tea',
 'green tea',
 'magazines',
 'chocolate',
 'frozen smoothie',
 'protein bar',
 'mayonnaise',
 'olive oil']

In [36]:
# Import the transaction encoder function from mlxtend
from mlxtend.preprocessing import TransactionEncoder

# Instantiate transaction encoder and identify unique items
encoder = TransactionEncoder().fit(transactions)

# Apply one-hot-encoding on our transactions
onehot = encoder.transform(transactions)

# Convert one-hot encoded data to DataFrame
onehot = pd.DataFrame(onehot, columns = encoder.columns_)

# Print the one-hot encoded transaction dataset
onehot.head()

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

# Support Code

In [37]:
frequent_itemsets=apriori(onehot, min_support=0.6, use_colnames=True) #Instead of column indices we can use column names.
frequent_itemsets
#selecting itemsets with a minimum of 60% support

       support                                           itemsets
0     0.999467                                        (chocolate)
1     0.819333                                     (french fries)
2     0.999867                                  (frozen smoothie)
3     0.995867                                        (green tea)
4     0.971733                                   (low fat yogurt)
...        ...                                                ...
1018  0.632533  (french fries, chocolate, magazines, mineral w...
1019  0.632533  (french fries, chocolate, magazines, mineral w...
1020  0.711733  (chocolate, magazines, mineral water, green te...
1021  0.632533  (french fries, magazines, mineral water, green...
1022  0.632533  (french fries, chocolate, magazines, mineral w...

[1023 rows x 2 columns]

# Confidence Code

In [38]:
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets,metric="confidence",min_threshold=0.7) # associate itemsets with confidence over 70%.

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(french fries),(chocolate),0.819333,0.999467,0.819067,0.999675,1.000208,1.703111e-04,1.638667
1,(chocolate),(french fries),0.999467,0.819333,0.819067,0.819504,1.000208,1.703111e-04,1.000944
2,(frozen smoothie),(chocolate),0.999867,0.999467,0.999333,0.999467,1.000000,-7.111111e-08,0.999867
3,(chocolate),(frozen smoothie),0.999467,0.999867,0.999333,0.999867,1.000000,-7.111111e-08,0.999467
4,(green tea),(chocolate),0.995867,0.999467,0.995733,0.999866,1.000400,3.977956e-04,3.983467
...,...,...,...,...,...,...,...,...,...
50692,"(mineral water, olive oil)","(french fries, chocolate, green tea, magazines...",0.729200,0.810667,0.632533,0.867435,1.070026,4.139520e-02,1.428226
50693,"(frozen smoothie, mineral water)","(french fries, chocolate, green tea, magazines...",0.729067,0.810667,0.632533,0.867593,1.070222,4.150329e-02,1.429937
50694,"(mineral water, low fat yogurt)","(french fries, chocolate, green tea, magazines...",0.712133,0.817200,0.632533,0.888223,1.086910,5.057797e-02,1.635402
50695,(french fries),"(chocolate, magazines, mineral water, green te...",0.819333,0.711733,0.632533,0.772010,1.084690,4.938649e-02,1.264382
50696,(mineral water),"(french fries, chocolate, magazines, green tea...",0.729200,0.810667,0.632533,0.867435,1.070026,4.139520e-02,1.428226

# Associating based on lift

In [41]:
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets,metric="lift",min_threshold=0.8)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(french fries),(chocolate),0.819333,0.999467,0.819067,0.999675,1.000208,1.703111e-04,1.638667
1,(chocolate),(french fries),0.999467,0.819333,0.819067,0.819504,1.000208,1.703111e-04,1.000944
2,(frozen smoothie),(chocolate),0.999867,0.999467,0.999333,0.999467,1.000000,-7.111111e-08,0.999867
3,(chocolate),(frozen smoothie),0.999467,0.999867,0.999333,0.999867,1.000000,-7.111111e-08,0.999467
4,(green tea),(chocolate),0.995867,0.999467,0.995733,0.999866,1.000400,3.977956e-04,3.983467
...,...,...,...,...,...,...,...,...,...
56997,(mayonnaise),"(french fries, chocolate, magazines, mineral w...",0.999867,0.632533,0.632533,0.632618,1.000133,8.433778e-05,1.000230
56998,(protein bar),"(french fries, chocolate, magazines, mineral w...",0.999867,0.632533,0.632533,0.632618,1.000133,8.433778e-05,1.000230
56999,(olive oil),"(french fries, chocolate, magazines, mineral w...",1.000000,0.632533,0.632533,0.632533,1.000000,0.000000e+00,1.000000
57000,(frozen smoothie),"(french fries, chocolate, magazines, mineral w...",0.999867,0.632533,0.632533,0.632618,1.000133,8.433778e-05,1.000230
57001,(low fat yogurt),"(french fries, chocolate, magazines, mineral w...",0.971733,0.636133,0.632533,0.650933,1.023265,1.438137e-02,1.042398